.app {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 80vw;
}

.filterWrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 15px;
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 10px;
  font-size: 18px;
}

.chartWrapper {
  display: flex;
  justify-content: center;
  padding: 15px;
}
