.details {
  display: flex;
  justify-content: center;
  margin: 30px;

  .content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80vw;

    .text {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      font-weight: bold;
    }
    
    .chartWrapper {
      display: flex;
      justify-content: center;
      padding: 15px;

      .chart {
        width: 50%;
      }
    }
  }
}
